* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eea67d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: rgb(182, 138, 116);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bab5b5;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

input:focus {
    border-color: #000000;
}

label {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: all 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -12px;
    font-size: 12px;
    color: #000000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f8815c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #dce6f1;
}

.switch-form {
    text-align: center;
    margin-top: 20px;
}

.switch-form a {
    color: #1e2021;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

.login-form {
    display: block;
}
